body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: .5fr 1fr 1fr 1fr;
  list-style: none;
}

ul {
  list-style: none;
}

header {
  grid-column: 2/5;
}

.top_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left_top_header {
  display: flex;
  align-items: center;
  width: 800px;
  margin-left: 50px;
  padding: 10px;
}

img {
  margin-right: 1rem;
}

.right_top_header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  justify-self: end;
  width: 500px;
  margin-right: 100px;
  padding: 10px;
}

.bottom_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_left_header {
  display: flex;
  margin-left: 50px;
  padding: 10px;
}

.large_logo {
  display: flex;
}

.header_nav {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-right: 100px;
}

.header_nav a {
  background-color: #0284c7;
  text-decoration: none;
  color: white;
  border-radius: 20px;
  padding: 10px 30px;
}

.searchbar input {
  width: 500px;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid lightgrey;

}

.sidebar {
  grid-column: 1;
  grid-row: 1/5;
  background-color: #0284c7;
  color: white;
  list-style: none;
}


.sidebar_nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  font-size: larger;
  gap: 20px;

}

li a img {
  margin-right: 1rem;
}

h1 img {
  margin-right: 1rem;
}


.sidebar_nav2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  font-size: larger;
  gap: 20px;

}

.sidebar a:link,
.sidebar a:visited {
  text-decoration: none;
  color: white;
}

h1 {
  margin-bottom: 50px;
}


.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 2/5;
  grid-row: 2/5;
  background-color: rgb(235, 233, 233);
  padding-left: 20px;
}


.projects {
  grid-column: 1/2;
}

.project_title {
  font-weight: bold;
}

.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr min-content;
  gap: 20px;

}

.announcements {
  grid-column: 3;
  margin-left: 20px;

}

.announcement_card,
.trending_card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  max-width: 350px;
}

.announcement_title {
  font-weight: bold;

}

.trending {
  grid-column: 3;
  padding: 20px;
  list-style: none;
}

.trending_nav a:link,
.trending_nav a:visited {
  color: black;
  text-decoration: none;
}


.card {

  background-color: white;
  padding: 20px;
  border-radius: 15px;
  border-left: 5px solid orange;
}

.project_links {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.announcement_paragraph {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}